body {
  margin-top: 170px !important;
  background-color: #DDDDDD !important;
}

.rcorners1 {
    border-radius: 25px;
    background: #F2F2F4;
    padding: 20px;
    width: 100%;
    align-content: center;
    display: block
  }

#WebCarousel {
  display: block;
}

#fullwidthcarousel {
  display: none;
}

img {
  border-radius: 25px;
  height: 85vh;
}

.imgRow {
  align-content: center;
}

.gif {
  width: 45%;
  height: auto;
}

#mainContentRow {
  padding: 50px;
}

.center {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center; 
}

.centerV {
  padding: 0% 0% 5% 0%;
}

.formText {
  text-align: start;
}

.mb-3 {
  margin-top: 1rem !important;
}

.formTitle {
  justify-self: center;
}

#carouselText {
  width: 75%;
  margin: auto;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #mainContentRow {
    padding: 20px;
  }

  #WebCarousel {
    display: none;
  }

  #fullwidthcarousel {
    display: block
  }
  /* remove round corners from carousel images */
  .d-block {
    border-radius: 0px !important;
  }

  img {
    border-radius: 25px;
    height: 40vh;
  }

  .center {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center; 
  }

  #carouselText {
    width: 90%;
    margin: auto;
    font-size: x-large;
  }

  #carouselText>h1 {
    font-size: x-large;
  }

  #carouselText>h2 {
    font-size: large;
  }

  body {
    margin-top: 140px !important;
  }
  
}


