#rcorners1 {
    border-radius: 25px;
    background: #F2F2F4;
    padding: 20px;
    width: 100%;
    align-content: center;
  }

img {
    border-radius: 25px;
    height: 85vh;
}

.imgRow {
  align-content: center;
}

#mainContentRow {
  padding: 50px;
}


.center {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center; 
}

.centerV {
  padding: 5% 0% 5% 0%;
}
