.nav-div{
    padding: 10px;
    min-height: 60px;
    align-items: center;
}

.align-items {
    align-items: center;
}

#nav * {
    font-weight: 500;
    color: #000000 !important;
    text-decoration: none !important;
    font-size: 25px;
  }