.nav-div{
    padding: 10px;
    min-height: 60px;
    align-items: center;
}

.align-items {
    align-items: center;
}

#nav * {
    font-weight: 500;
    color: #000000 !important;
    text-decoration: none !important;
    font-size: 25px;
  }

.nav-full {
    display: block;
} 

.nav-burger {
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav-full {
        display: none;
    }
    .nav-burger {
        display: block;
    }
}

.nav-img {
    max-width: 100%;
    width: 45%
}