:root {
    --primary-color: #DDDDDD;
}

nav {
    background-color: var(--primary-color) !important;
}

.nav-div{
    padding: 10px;
    min-height: 60px;
    align-items: center;
}

.align-items {
    align-items: center;
}

#nav * {
    font-weight: 400;
    text-decoration: none !important;
  }

.nav-full {
    display: block;
} 

.nav-burger {
    display: none;
}

.nav-img {
    width: 325px;
}

.navText {
    font-size: x-large !important;
    color: #224EA0 !important;
}

.quoteLink {
    color: white !important;
    background-color: #545555 !important;
}

.quoteLink:hover {
    color: white !important;
    background-color: #224EA0 !important;
}

@media only screen and (max-width: 1200px) {
    .navText {
        font-size: large !important;
    }

}

@media only screen and (max-width: 992px) {
    .navText {
        font-size: medium !important;
    }

}

@media only screen and (max-width: 768px) {
    .nav-full {
        display: none;
    }
    .nav-burger {
        display: block;
    }
    .nav-img {
        max-width: 100%;
        width: 175px;       
    }

}

