#footer {
    background-color: black;
    color: white;
}

#footer.container {
    margin: 0;
    width: 100%;
    max-width: none;
    min-height: 300px;
    display: grid;
    align-items: center;
}

a {
    color: white !important;
    text-decoration: none !important;
}